body{
    background-color: #cfcfcf;
    margin: 0px;
}

.heading{
    width: 100%;
    max-height: 694px;
    color: #f3d5b0;
    font-size: 50px;
    font-family: 'lemonMilk';
    text-align: center;
    padding: 10px;
    background: linear-gradient(180deg, #b6b6b6, #c3a786);
    background-size: 100%;
}

.sub-heading{
    color: #000000;
    font-family: 'lemonMilk';
    font-size: 26px;
    text-align: center;
    border-top-color: #000000;
    border-top-width: 1px;
    border-top-style: solid;
    padding: 10px 20px;
}

.nav-buttons-home{
    
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    
}

.nav-button{
    color: #e9d4bb;
    font-size: 20px;
    font-family: 'lemonMilk';
    padding: 5px;
    background-color: #818181;
    border-color: #e9d4bb;
    border-radius: 7px;
    background-image: url('Fonts_Photos/steel.jpg');
    transition: .58s;
}

.about-section{
    text-align: center;
    word-spacing: 5px;
    font-family: 'lemonMilk';
    font-size: 15px;
    padding: 5px;

}

.project-section{
    flex-flow: row-wrap;
}

#about-text{
    font-family: sans-serif;
    font-weight: bold;
}

.card-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.card {
    text-align: center;
    font-family: 'lemonMilk';
    border-radius: 5px;
    background: white;
    
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}

.transform{
    transform: scale(1.1);
    color: #ee9c37;
    border-color: #ee9c37;
}

@font-face{
    font-family: 'lemonMilk';
    src: url(LEMONMILK-Regular.otf);
}