body{
    background-color: #cfcfcf;
    margin: 0px;
    padding: 0px;
}

h1{
    color: #f5e4d0;
    font-size: 3em;
    font-family: 'lemonMilk';
    text-align: center;
}

.heading{
    width: 100%;
    padding: 10px;
    background: linear-gradient(180deg, #cfcfcf, #c3a786);
    background-size: 100%;
}

.sub-heading{
    color:#3c3c3c;
    font-family: 'lemonMilk';
    font-size: 26px;
    text-align: center;
    letter-spacing: 2px;
    padding-top: 10px;
    justify-content: center;
}

.nav-buttons-home{
    display: flex;
    flex-flow: row;
    justify-content: center;
    
}

.nav-button{
    color: #f5e4d0;
    background: transparent;
    font-size: 1em;
    font-family: 'lemonMilk';
    letter-spacing: 1px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 3px;
    margin-right: 3px;
    border-color: transparent;
    border-radius: 5px;
    transition: .25s;
}

.about-section{
    text-align: center;
    word-spacing: 5px;
    font-family: 'lemonMilk';
    font-size: 15px;
    padding: 5px;

}

.project-section{
    flex-flow: row-wrap;
}

#about-text{
    color:#3c3c3c;
    font-family: sans-serif;
    font-weight: bold;
}

.card-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.flip-card{
    background-color: transparent;
    width: 300px;
    height: 350px;
    margin-top: 50px;
    margin-bottom: 50px; 
    perspective: 1000px;
    border-radius: 5px;
    
}

.flip-card-inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: .8s;
    transform-style: preserve-3d;
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 5px;
    box-shadow: 0 0 10px #8c8c8c;
    background-color: #f5e4d0;
}

.card-front{
    color:#3c3c3c;
    font-family: 'lemonMilk';
    font-weight: bold;
    letter-spacing: 1px;
}

.card-back{
    color:#3c3c3c;
    font-family: sans-serif;
    transform: rotateY(180deg);
}

.card-title{
    margin: 10px;
}

img{
    width: 300px;
    height: 300px;
    flex: 3/4;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
    width: 100%;
}

.footer{
    text-align: center;
    font-family: sans-serif;
    margin: 0px;
}

.site-divider{
    color:#3c3c3c;
    margin: auto;
    width: 40%;
    flex-flow: row;
    border-style: solid;
    border-width: 1px;
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}

.transform{
    transform: scale(1.1);
    color: #dfdedd;
    border-color: #c7c4c0;
}

.transform-card{
    transform: rotateY(180deg);
}

@font-face{
    font-family: 'lemonMilk';
    src: url(LEMONMILK-Regular.otf);
}
